// Base
@import "base";

// Site Specific CSS 

//Variable Overrides

body { 
    //background: #ccc; 
}

//Global Overrides

 
//Dev Testing
.baselines-on {
    
    //.container {  
    
        background-image: -webkit-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
        background-image: -moz-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
        background-image: -o-linear-gradient(top,#0ff 0,rgba(255,255,255,0)1px);
        background-image: linear-gradient(to bottom,#0ff 0,rgba(255,255,255,0)1px);
        background-repeat: repeat-y;
        background-size: 100% 1.5em;
        
    //}
} 

.colorblocks-on {
    
    //.colored, .colored:nth-child(odd), .colored:last-of-type {background: none;}
    h1, h2, h3, h4, h5, h6 {background: rgba(0,153,255,.1);}
    p {background: rgba(255,153,0,.1);}
    //.container {background: rgba(255,0,0,.075);}
    
    header { background: rgba(0,255,0,.075); }
    .site-navigation { 
        background: rgba(0,255,0,.075); 
        ul { background: rgba(51,102,153,.075); }
        ul li { background: rgba(0,0,255,.075); }
        ul li a { background: rgba(0,255,255,.075); } 
    }
}  

/* MEDIA QUERIES */

/* Small devices (mobile and up) */
@media screen and (min-width: $breakpoint-small) { 

    body.mediaquerycolors-on {
        background: rgba(255,255,0,.1); //yellow
    }
}

/* Medium devices (tablets and up) */
@media screen and (min-width: $breakpoint-medium) { 

    body.mediaquerycolors-on {
        background: rgba(0,0,255,.1); //purple
    }  
}

/* Large devices (desktops and up) */
@media screen and (min-width: $breakpoint-large) { 

    body.mediaquerycolors-on {
        background: rgba(0,255,0,.1); //green
    }
}

/* Extra large devices (large desktops and up) */
@media screen and (min-width: $breakpoint-extralarge) {   

    body.mediaquerycolors-on {
        background: rgba(255,0,0,.1); //red
    }

}