body {
    background: $body-background-color;
    font-family: $base-font-family;
    font-size: $base-fontsize-small;
    line-height: $base-line-height;
    color: $base-font-color;
}

.container {
    padding: 0 5%; 
    margin: $base-line-height 3%; 
    width: 84%;
}

/* MEDIA QUERIES */

/* Medium devices (tablets and up) */
@media screen and (min-width: $breakpoint-medium) { 

    body {
        font-size: $base-fontsize-medium;
        background: rgba(0,0,255,.1);
    }

    .container {
    }
}

/* Large devices (desktops and up) */
@media screen and (min-width: $breakpoint-large) { 

    body {
        font-size: $base-fontsize-large;
        background: rgba(0,255,0,.1);
    }
    
    .container {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: $base-line-height * 2;
        padding-right: $base-line-height * 2;
        margin: $base-line-height auto; 
        width: $breakpoint-large - (4 * $base-line-height) - 3em; 
    }
}

/* Extra large devices (large desktops and up) */
@media screen and (min-width: $breakpoint-extralarge) {   

    body {
        font-size: $base-fontsize-extralarge;
        background: rgba(255,0,0,.1);
    }
    
    .container {
        width: $breakpoint-extralarge - (4 * $base-line-height); 
    }

}