/* RESET */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, 
pre, code, a, em, img, strong, ol, ul, li, form, label, 
table, tr, td, article, aside, footer, header, menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}