
body {
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale; 
    -webkit-text-size-adjust:100%; 
    -ms-text-size-adjust:100%;
}

/* HEADINGS
Traditional scale: 6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72
	if base is 16:
	h1 = 48 pixels → 48 ÷ 16 = 3 em
	h2 = 36 pixels → 36 ÷ 16 = 2.25 em
	h3 = 24 pixels → 24 ÷ 16 = 1.5 em
	h4 = 21 pixels → 21 ÷ 16 = 1.3125 em
	h5 = 18 pixels → 18 ÷ 16 = 1.125 em
	h6 = 16 pixels → 16 ÷ 16 = 1 em

================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }

/* BASELINE VERSION */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    margin-top: 0;
    padding-top: 0em;
    font-size: 3em; /* 48px / 16px = 3em */
    line-height: 1em; 
    margin-bottom: .5em;
    
    
    //&.baseline-shift {
        //margin-top: -.5em;
        //margin-bottom: 1em;
        position: relative;
        top: .05em;
    //}
    
    &:first-child {
        padding-top: 0;
    }

}



h2 {
    
    margin-top: 0;
    //padding-top: .5em;
    font-size: 2.25em; /* 36px / 16px = 2.25em */
    line-height: 1.333333333333334em;
    margin-bottom: .666666666666667em;
    padding-top: .00666666666667em;
    //padding-bottom: .16em;

    //&.baseline-shift {
        //padding-top: .16666666666667em;
        //padding-bottom: 0.066666666666667em;
        position: relative;
        top: .166666666666667em;
    //}
}

h1+h2 {
    //padding-top: .00666666666667em;
    //padding-bottom: .16em;
}

h3 {
    margin-top: 0;
    //padding-top: 1em;
	font-size: 1.5em; /* 24px / 16px = 1.5em */
	line-height: 1em;
    margin-bottom: 1em;
} 

h4 {
    margin-top: 0; 
    //padding-top: 1.14285714285714em;
	font-size: 1.3125em; /* 21px / 16px = 1.3125em */
	line-height: 1.14285714285714em;
    margin-bottom: 1.14285714285714em;
}

h5 {
    margin-top: 0;
    //padding-top: 1.333333333333334em;
	font-size: 1.125em; /* 18px / 16px = 1.125em */
	line-height: 1.333333333333334em;
    margin-bottom: 1.333333333333334em;
}
 
h6 {
    margin-top: 0;
    //padding-top: 1.5em;
	font-size: 1em; /* 16px / 16px = 1em */
	line-height: 1.5em;
    margin-bottom: 1.5em;
}


h1, h2, h3, h4, h5, h6, p {
    
    max-width: 35em;
    
    &:last-child {
        margin-bottom: 0;
    }
} 

/* PARAGRAPHS
================================================== */
p { 
    margin-bottom: 1.5em; 
}

/* LINKS
================================================== */
a { color: blue; }
a:hover { color: green; } 
a:visited { color: purple; } 
a:focus { color: red; }

/* LISTS
================================================== */
ul { margin-bottom: 1.5em; }
li { margin-left: 1.875em; /* 30px/16px = 1.875em */ }
ul ul, ul ol, ol ol, ol ul { margin-bottom: 0 }

/* HORIZONTAL RULES
================================================== */
hr {
    //margin: 3em 0 2.9375em 0;
    border: none;
    margin-top: -.0625em;
    padding-top: 1.5em;
    border-bottom: .0625em solid rgba(0,0,0,.2);
    margin-bottom: 3em;
}


/* MEDIA QUERIES
================================================== */

/* Medium devices (tablets, 48em and up) */
@media screen and (min-width: $breakpoint-medium) { 

    body {
        font-size: $base-fontsize-medium;
    }
}

/* Large devices (desktops, 62em and up) */
@media screen and (min-width: $breakpoint-large) { 

    body {
        font-size: $base-fontsize-large;
    }
}

/* Extra large devices (large desktops, 75em and up) */
@media screen and (min-width: $breakpoint-extralarge) {   

    body {
        font-size: $base-fontsize-extralarge;
    }

}